force-app/main/default/flows/Create_New_Request_y_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Test By Ians  15-05-2022 Ver 02.1 - Added Category and Sub-Category Fields</description>
    <interviewLabel>Create New Request y Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Request y Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Request</name>
        <label>Create New Request</label>
        <locationX>508</locationX>
        <locationY>441</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_New_Case.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_New_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123M0000001MKZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Category__c</field>
            <value>
                <elementReference>Get_New_Case.CaseCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Sub_Category__c</field>
            <value>
                <elementReference>Get_New_Case.CaseSubCategory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Case</name>
        <label>Get New Case</label>
        <locationX>311</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>86</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_New_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_RequestRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Operational</stringValue>
        </value>
    </variables>
</Flow>
